html{
    box-sizing: border-box;
}

*, 
*::before,
*::after{
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}
p{
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
 */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #8c8c8c;
    position: relative;
}

.container{
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
}

/* header
========================================================= */
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

@media screen and (max-width:1024px){
    .menu{
        display: none;
    }
    .header__burger::before{
        content: "";
        position: absolute;
        top: 50%;
        right: 3%;
        width: 50px;
        height: 3px;
        background: #8c8c8c;
        box-shadow: 0px 10px rgb(140, 140, 140), 0px 20px rgb(140, 140, 140);
    }
   
}


/* menu
========================================== */
.menu__list{
    display: flex;
    align-items: center;
}

.menu__list:first-child{
    margin-left: 0;
}

.menu__item{
    margin-left: 25px;
}
.menu__item:nth-child(9){
    margin-left: 60px;
}

.menu__link{
    color: #ffffff;
    position: relative;
    padding-bottom: 5px;
}


.menu__link:hover::after,
.menu__link.active::after{
  opacity: 1;
}

.menu__link::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 2px;
    background-color: #8c8c8c;
    opacity: 0;
    transition: all .2s linear;
}
.menu__link:hover{
    cursor: pointer;
}


.menu__link.active{
    color: #c7b299;
}
.menu__link.active::after{
    background: #c7b299;
}

/* /menu */

/* /header */

/* intro
======================================================= */
.intro{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 9;
}
/* slider
=================================================================================== */
.intro__slider{
    position: absolute;
    width: 100%;
    z-index: 10;
}
.intro__slider-item{
    position: relative;
}
.intro__slider-item::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: .6;
}
.intro__slider-item.first::after{
    opacity: 0;
}
.intro__slider-item.first{
    background: url(../images/intro/intro__bg.jpg) no-repeat center top /cover;
    height: 100vh;
}
.intro__slider-item.second{
    background: url(../images/intro/1.jpg) no-repeat center top /cover;
    height: 100vh;
}
.intro__slider-item.third{
    background: url(../images/intro/2.jpg) no-repeat center top / cover;
    height: 100vh;
}

.slick-arrow{
    position: absolute;
    z-index: 10;
    font-size: 0;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-prev{
    left: 5%;
    top: 50%;
}

.slick-prev::after{
        content: "";
        position: absolute;
        left: 5%;
        top: 50%;
        background: url(../images/intro/left__arrow.png);
        z-index: 10;
        height: 73px;
        width: 40px;
        transform: translateY(-50%);
        cursor: pointer;
}
.slick-next{
    right: 5%;
    top: 50%;
    z-index: 10;
}

.slick-next::after{
        content: "";
        position: absolute;
        right: 5%;
        top: 50%;
        background: url(../images/intro/right__arrow.png);
        z-index: 10;
        height: 73px;
        width: 40px;
        transform: translateY(-50%);
        cursor: pointer;
}

.slick-dots{
    position: absolute;
    display: flex;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.slick-dots li{
    margin-left: 20px;
}
.slick-dots li:first-child{
    margin-left: 0px;
}
.slick-dots li button{
    border-radius: 50%;
    outline: none;
    font-size: 0;
    padding: 5px;
    border: 1px solid #fff;
    background: transparent;
}
.slick-dots li button:hover{
    cursor: pointer;
}

.slick-dots li.slick-active>button{
    background: #998675;
}
/* /slider */

.intro__inner{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 10;
    max-width: 520px;
    text-align: center;
    color: #ffffff;
}


.intro__sup-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 36px;
}
@media screen and (max-width:768px){
    .intro__inner{
        max-width: 420px;
    }
    .intro__sup-title{
        font-size: 20px;
    }
    .intro__title{
        font-size: 30px;
    }
    .intro__text{
        font-size: 10px;
    }
}
@media screen and (max-width:767px){

    .intro__sup-title{
        display: none;
    }
    .intro__title{
        font-size: 0px;
    }
    .intro__text{
        display: none;
    }
}




.intro__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 52px;
    line-height: 1.6;
}

.intro__text{
    line-height: 1.6;
    margin-bottom: 45px;
}

.intro__button{
    font-family: 'Raleway', sans-serif;
    padding: 20px 45px;
    outline: none;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 800;
    color: #ffffff;
    background: #998675;
    transition: all .2s linear;
    box-shadow: 0px 3px rgb(115, 99, 87);
    line-height: 1.6;
}

.intro__button:hover{
    cursor: pointer;
    color: #000;
    background: #fff;
    box-shadow: 0px 3px rgb(255, 255, 255);
}
/* /intro */

/* section features
================================================= */
.features {
    width: 100%;
    padding: 80px 0;
}

.features__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.features__item {
    width: 24%;
    text-align: center;
}
.features__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 15px 0;
}
.features__text {
    line-height: 1.6;
}
.features__text::after {    
    content: "";
    display: block;
    position: relative;
    margin: 30px auto 0;
    z-index: 100;
    width: 70px;
    height: 3px;
    background: #c7b299;
    opacity: 0;
}

.fas{
    font-size: 30px;
}

.features__item.active
.fas{
    color: #c7b299;
}
.features__item.active
.features__text::after{
    opacity: 1;
}

@media screen and (max-width:1024px){
    .features__item{
        width: 48%;
    }
    .features__item:nth-child(n+2){
        margin-bottom: 40px;
    }
    .features__text::after{
        margin: 15px auto 0px;
        width: 50px;
        height: 3px;
    }
}
/* /section fwature */

/* section ideas
================================================== */
    .section__ideas{
        padding-top: 70px;
        background: #fbfaf8;
        width: 100%;
    }
    .section__ideas-inner{
        position: relative;
        width: 100%;
    }
   .section__title{
        text-align: center;
        max-width: 770px;
        margin: 0 auto;
   }
   .section__main-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #555555;
    margin-bottom: 20px;
   }
   .section__ideas-gallery{
       display: flex;
       margin: 0 auto;
       max-width: 1230px;
   }

   .ideas__gallery-item.first{
       background: url(../images/ideas/1.jpg) no-repeat left top / 120% 100%;
       min-height: 400px;
       width: 37%;
   }
   .ideas__gallery-item.second{
        background: url(../images/ideas/2.jpg) no-repeat left top / cover;
        min-height: 400px;
        width: 34%; 
        width: 63%;
   }
   .ideas__gallery-item.third{
       background: url(../images/ideas/3.jpg) no-repeat left top / cover;
       min-height: 482px;
       position: absolute;
       width: 770px;
       display: block;
       bottom: 0;
       left: 50%;
       transform: translateX(-50%);

   }
   
   .section__inner{  
       position: relative;
   }

   .section__text{
       font-size: 16px;
       line-height: 1.6;
       margin-bottom: 120px;
   }

/* /section ideas */

/* multiple__wordpress-them 
=============================================================================================*/
  .multiple__wordpress-theme{
      background: linear-gradient( to right, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
      padding: 45px 0;
      display: flex
}
.multiple__wordpress-theme-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 25px;
}
.multiple__wordpress-theme-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 28px;
}

.multiple__wordpress-theme-title > span{
    color: #fff;
}
.multiple__wordpress-theme-text {
    font-size: 18px;
    line-height: 1.6;
}
    .purchase__button{
        font-family: 'Raleway', sans-serif;
        padding: 15px 35px;
        outline: none;
        border: none;
        text-transform: uppercase;
        border-radius: 5px;
        font-weight: 800;
        color: #ffffff;
        background: #998675;
        transition: all .2s linear;
        box-shadow: 0px 3px rgb(115, 99, 87);
        line-height: 1.6;
    }

    .purchase__button:hover{
        cursor: pointer;
        color: #000;
        background: #fff;
        box-shadow: 0px 3px rgb(255, 255, 255);

    }
    /* .multiple__wordpress-them */

    /* section our__projects */
    .section.our__projects{
        padding: 80px 0;
        width: 100%;
    }
    .section__text.our__projects{
        margin-bottom: 40px;
    }

    /* our__projects-menu 
    =========================================================================*/
    .our__projects-menu{
        margin-bottom: 40px;
    }
    .our__projects-menu-list{
        display: flex;
        justify-content: center;
    }

    .our__projects-menu-item {
        margin-left: 10px;
        padding: 10px 20px;
        border: 1px solid #ebebeb;
        border-radius: 3px;
    }
    .our__projects-menu-item:first-child {
        margin-left: 0px;
    }
    .our__projects-menu-link {
        color:#8c8c8c;
    }
    .our__projects-menu-item.active,
    .our__projects-menu-item:hover{
        background: #998675;
        transition: background .2s linear;
        cursor: pointer;
    }
    .our__projects-menu-item:hover
    .our__projects-menu-link{
        color: #fff;
        transition: color .2s linear;
    }
    
    .our__projects-menu-item.active
    .our__projects-menu-link{
        color: #fff;
    }

    /* /our__projects-menu */

    .our__projects-gallery{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /* overflow: hidden; */
       
    }

    .our__projects-items{
        width: 32%;
        margin-bottom: 30px;
        position: relative;
        
    }

    .our__projects-items:hover
    .our__projects-photo{
        opacity: .3;
        cursor: pointer;
    }

    .projects-items-decorate{
        position: absolute;
        display: inline-block;
        top: 30%;
        left: 50%;
        z-index: 10;
        transform: translateX(-50%);
        opacity: 0;
        transition: all .2s linear;
    }

    .our__projects-items:hover
    .projects-items-decorate{
        opacity: 1;
    }
    
    .decorete-icon{
        display: inline-block;
    }

    .decorete-icon.chain{
        margin-right: 20px;
    }

    .our__projects-img{
        background: #000;
    }
    .our__projects-photo{
        width: 100%;
        display: block;
        transition: all .2s linear;
    }

    .our__projects-descr{
        background: #fbfaf8;
        padding: 28px;
        position: relative;
    }

    .our__projects-descr::after{
        content: "";
        position: absolute;
        border: 15px solid transparent; 
        border-bottom: 10px solid #fbfaf8;;
        top: -25px;
        left: 10px;
    }

    .projects-descr-suptitle{
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        color: rgb(199, 178, 153);
        margin-bottom: 10px;
    }

    .load__more-button{
        font-family: 'Raleway', sans-serif;
        display: inline-block;
        padding: 15px 35px;
        outline: none;
        border: none;
        text-transform: uppercase;
        border-radius: 5px;
        font-weight: 800;
        color: #ffffff;
        background: #998675;
        transition: all .2s linear;
        box-shadow: 0px 3px rgb(115, 99, 87);
        line-height: 1.6;
        margin: 0 auto;
        margin-bottom: 3px;
    }

    .load__more-button:hover{
        cursor: pointer;
        color: #fff;
        background: #000;
        box-shadow: 0px 3px rgb(0, 0, 0);

    }

  /* /section our__project */

  /* section video presentation
  ======================================================== */
   .video_presentation{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 700px;
  }

  .video__media{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #ccc;
  }

  .video__media::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background: rgba(0,0,0, .5);
  }

  .video{
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        transform: translate3d(-50%,-50%,0);
  }

  .video__presentation-content{
        position: relative;
        z-index: 10;
        color: #fff;
        text-align: center;
        max-width: 570px;
  }
  .icon__play{
      margin-bottom: 30px;
      cursor: pointer;
      position: relative;
      z-index: 20;
  }
 
  .video__presentation-button::before{
      content: "";
      position: absolute;
      display: inline-block;
      top: 0;
      left: 50%;
      transform: translate3d(-50%, -13%, 0);
      z-index: 10;
      width: 100px;
      height: 100px;
      opacity: 0.3;
      background: #000;
      border-radius: 50%;

  }

  .video__presentation-title{
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        margin-bottom: 20px;
  }

  .video__presentation-text{
        margin-bottom: 20px;
        line-height: 1.6;
  }

  .video__presentation-time{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: rgb(199, 178, 153);
  }
  
  /* /section video presentation */
/* mobile__design
=============================================================== */
  .mobile__design {
      width: 100%;
      padding-top: 80px;
}

.mobile__design-inner {
    display: flex;
    align-items: center;
    background: url(../images/mobile_design/iPhone.png) no-repeat left top / contain;
    max-width: 100%;
    min-height: 616px;
    padding: 0 10px 0 430px
}
.mobile__design-info {
    max-width: 700px;
    margin-left: auto;
}
.mobile__design-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #555555;
    margin-bottom: 30px;
}
.mobile__design-text {
    line-height: 1.6;
    margin-bottom: 30px;
}
.mobile__design-item {
    background: url(../images/mobile_design/marker.png) no-repeat left center / contain;
    padding-left: 40px;
    margin-bottom: 10px;
}
/* /mobile__design */

/* statistics
========================================================== */
.statistics {
    display: flex;
    width: 100%;
    padding: 60px 0;
    background: linear-gradient( to right, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
}
.statistics__inner {
    display: flex;
    margin: auto;
}


.statistics__item {
    text-align: center;
    margin-left: 60px;
}
.statistics__item:first-child {
    margin-left: 0px;
}
.statistics__icon {
    margin-bottom: 20px
}
.stat__number {
    margin-bottom: 20px;
    color: #fff;
    font-weight: 200;
    font-size: 48px;
}
.stat__name{
    text-transform: uppercase;
    color: #c7b299;
}
.stat__name::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 2px;
    background: #fff;
    margin-top: 20px;
}

/* /statistics */

/* recent post
============================================================================== */
.recent__post{
    padding: 80px 0;
    width: 100%;
}

.section__text.recent__posts{
    margin-bottom: 40px;   
}
.recent__post-cart{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.recent__post-item{
    width: 32%;
}
.recent__post-item:hover,
.recent__post-item.active{
    cursor: pointer;
    transition: all 2s linear;
}
.recent__post-item:hover
.post__item-descr,
.recent__post-item.active
.post__item-descr{
    background: #362f2d;
    color: #fff;
}

.recent__post-item:hover
.post__item-descr-title,
.recent__post-item.active
.post__item-descr-title{
    color: #c7b299;
}
.recent__post-item:hover
.date,
.recent__post-item.active
.date{
    background: #c7b299;
}
.recent__post-item:hover
.mounth,
.recent__post-item.active
.mounth{
    background: #a48d72;
}

.recent__post-item:hover
.recent__post-photo,
.recent__post-item.active
.recent__post-photo{
    opacity: .3;
}

.recent__post-img{
    background: #000;
    position: relative;
}
.recent__post-photo{
    display: block;
    width: 100%;
}

.date__info {
    position: absolute;
    display: inline-block;
    color: #fff;
    top: 20px;
    left: 20px;
    z-index: 10;
}
.date {
    background: #363636;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    border-radius: 5px 5px 0px 0px;
    transition: all .3s linear;
}
.mounth {
    background: #252525;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 0px 0px 5px 5px;
    transition: all .3s linear;
}

.post__item-descr-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #555555;
    margin-bottom: 20px;
}

.post__item-descr-text{
    line-height: 1.6;
}
.post__item-descr{
    padding: 30px;
    border: 1px solid #f8f8f8;
    border-top: none;
    transition: all .3s linear;
}
.read__more{
    display: inline-block;
    margin-top: 25px;
    position: relative;
    
}
.read__more-link{
    color: #c7b299;
}

.read__more::after{
    content: "";
    position: absolute;
    top: 3px;
    right: -25px;
    border: 6px solid transparent; 
    border-left: 6px solid #c7b299;
    padding: 0;
}

/* /recent post */

/* section label
========================================================= */
.section__label {
    background: url(../images/label/label_bg.jpg) no-repeat top center/ cover;
    width: 100%;
    padding: 135px 0;
}

.section__label-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* /section label */

/* footer */
.footer{
    padding: 80px 0;
    background: #191919;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__column{
    width: 23%;
}
.footer__logo{
    margin-bottom: 25px;
}
.footer__text{
    line-height: 1.6;
}

.read__more-link.footer__link{
    color: #fff;
    font-weight: 400;
}

.read__more::after{
    content: "";
    position: absolute;
    top: 3px;
    right: -25px;
    border: 6px solid transparent; 
    border-left: 6px solid #c7b299;
    padding: 0;
}

.footer__column-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    margin-top: 20px;
}
.recent__post-info{
    padding: 20px 0;
    border-bottom: 1px solid #252525;
}
.post__info-text{
    margin-bottom: 10px;
}
 
.recent__post-info:last-child{
    border-bottom: none;
}
.recent__post-info:hover
.date__link{
    color: #fff;
}
.recent__post-info:hover
.last__seen-link{
    color: #fff;
}

.recent__post-info:hover
.footer__text{
    color: #c7b299;
}

.footer__text{
    transition: color .2s linear;
    color: #8c8c8c;
}
.footer__text-docor{
    color: #059ec7;
}
.date__link{
    transition: color .2s  linear;
    color: #7e6e6e;
}
.last__seen{
    margin-top: 10px;
}
.last__seen-link{
    color: #8c8c8c;
    transition: color .2s linear;
}

.date-text-decor{
    color: #00bff3;
}

.dribbble__widget-galery {
    display: flex;
    flex-wrap: wrap;
}
.dribbble__widget-item {
    width: 50%;
    border: 5px solid #191919;
}

.dribbble__widget-img {
    width: 100%;
    display: block;
}
/* /footer */

